<img src="<%= produs.imagine %>" alt="<%= produs.nume %>" width="300" height="300" />
<p>
    <%= locals.produs.nume %>

</p>

<p>
    <%= locals.produs.pret %>
</p>

<p>
    <%= locals.produs.descriere %>
</p>

<p>
    <%= locals.produs.data_adaugarii %>
</p>

<p>
    <%= locals.produs.culoare %>
</p>
<p>

    <%= locals.produs.tehnici_folosite %>
</p>

<p>
    <%= locals.produs.disponibilitate %>
</p>
<p>
    <%= locals.produs.categorie %>
</p>